<div>
	<h2>Attorneys</h2>

	<!--<mat-accordion>

		<mat-expansion-panel *ngFor="let attorney of attorneys">
			<mat-expansion-panel-header>
				{{attorney.Name}}
			</mat-expansion-panel-header>
			<attorneyDetail [attorney]="attorney"></attorneyDetail>
		</mat-expansion-panel>

	</mat-accordion>-->
	<!--<div class="table-responsive ">-->

	<mat-table [dataSource]="attorneys">
		<ng-container matColumnDef="Name">
			<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
			<mat-cell *matCellDef="let attorney">{{attorney.Name}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Kref">
			<mat-header-cell *matHeaderCellDef>Kref</mat-header-cell>
			<mat-cell *matCellDef="let attorney">{{attorney.Kref}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="LUN">
			<mat-header-cell *matHeaderCellDef>LUN</mat-header-cell>
			<mat-cell *matCellDef="let attorney">{{attorney.LUN}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="DebtorCode">
			<mat-header-cell *matHeaderCellDef>Debtor Code</mat-header-cell>
			<mat-cell *matCellDef="let attorney">{{attorney.DebtorCode}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Branch">
			<mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
			<mat-cell *matCellDef="let attorney">{{attorney.Branch}}</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
		<mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
	</mat-table>
</div>
<!--<thead>
	<tr>
		<td>
			<div class="col-sm-3">
				Name
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				Kref
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				LUN
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				Debtor
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				Branch
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				Status
			</div>
		</td>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let attorney of attorneys">
		<td>
			<div class="col-sm-3">
				{{attorney.Name}}
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				{{attorney.Kref}}
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				{{attorney.LUN}}
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				{{attorney.DebtorCode}}
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				{{attorney.Branch}}
			</div>
		</td>
		<td>
			<div class="col-sm-3">
				Active
			</div>
		</td>
	</tr>
</tbody>-->
<!--</div>-->