.lc-side-nav {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 20px;
	padding-left: 0px;
	padding-right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid #eee;
}

.lc-side-nav .nav-link {
	border-radius: 0;
}
