<nav class="lc-side-nav col-sm-3 col-md-2 hidden-xs-down lc-light-background">
	<div>
		<ul class="nav nav-pills flex-column">

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="attorneys">
					<span data-feather="shopping-cart"></span> Users
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="attorneys">
					<span data-feather="shopping-cart"></span> Admin
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="attorneys">
					<span data-feather="shopping-cart"></span> Attorneys
				</a>
			</li>

		</ul>
	</div>
</nav>

<!--<div class='main-nav'>
	<div class='navbar navbar-default'>
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<a class='navbar-brand' routerLink="/home">WebApplication1</a>
		</div>
		<div class='clearfix'></div>
		<div class='navbar-collapse collapse'>
			<ul class='nav navbar-nav'>
				<li routerLinkActive="link-active">
					<a routerLink="attorneys">
						<span class='glyphicon glyphicon-home'></span> Attorneys
					</a>
				</li>
				<li routerLinkActive="link-active">
					<a routerLink="attorneys">
						<span class='glyphicon glyphicon-home'></span> Users
					</a>
				</li>
				<li routerLinkActive="link-active">
					<a routerLink="attorneys">
						<span class='glyphicon glyphicon-home'></span> Admin
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>-->