<nav class="lc-side-nav col-sm-3 col-md-2 hidden-xs-down lc-light-background">
	<div>
		<ul class="nav nav-pills flex-column">

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="attorneys">
					<i class="material-icons">account_box</i> Users
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="attorneys">
					<i class="material-icons">backup</i> Admin
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="attorneys">
					<i class="material-icons">assessment	</i> Attorneys
				</a>
			</li>

		</ul>
	</div>
</nav>